<!-- alerta -->
<ngb-alert [dismissible]="false" type="info">
    <strong>Aviso!</strong> Este é um simples projeto open-source disponível no <a href="https://github.com/carlosdaniiel07/consulta-cep" target="_blank"><b>GitHub</b></a>
</ngb-alert>
<!-- /.alerta -->

<!-- container -->
<div class="container-fluid">
    <!-- form -->
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="form">
                <div class="form-group">
                    <input type="text" formControlName="cep" mask="00000-000" class="form-control" placeholder="Começe digitando um CEP válido!"/>
                    <small class="form-text text-danger" *ngIf="!cep.valid && cep.touched">
                        Preencha o CEP corretamente.
                    </small>
                </div>

                <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="buscarCep()">Buscar</button>
            </form>
        </div>
    </div>
    <!-- /.form -->

    <br/>

    <!-- card -->
    <app-cep-card *ngIf="hasCep()" [cepRecuperado]="cepRecuperado"></app-cep-card>
    <!-- /.card -->
</div>
<!-- /.container -->